<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card text-center" style="width: 18rem;">
    <img src="assets\pastora.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Proyectos con Angular</h4>
      <h6 class="card-subtitle mb-2 text-muted">IES Cantillana</h6>
      <p class="card-text">Em esta página web se alojarán los proyectos que realizaremos en la asignatura Lenguajes de Marcas y Sistemas de Gestión de la Información</p>
      <a href="http://iescantillana.es/" class="btn btn-primary">Web del instituto</a>
    </div>
  </div>
</div>
