<div class="card m-3" >
  <div class="row g-0">
  <div class="col-md-4">
  <img src={{detalle.image}} class="img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
  <div class="card-body">
  <h5 class="card-title">{{detalle.first_name}}&nbsp;{{detalle.last_name}}</h5>
  <p class="card-text">{{detalle.info}}</p>
  <p class="card-text"><small class="text-muted">{{detalle.email}}</small></p>
  <a routerLink="/ejercicio003" routerLinkActive="active" class="btn btn-
  primary">Volver</a>
  </div>
  </div>
  </div>
  </div>
