<!--Barra de navegación-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\cadiz.jpg" alt="" width="40" height="60" class="align-text-center">
      Ejercicios para entregar de Angular
    </a>
  </div>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLink="/ejercicio001" routerLinkActive="active">Ejercicio 1</a>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLink="/ejercicio002" routerLinkActive="active">Ejercicio 2</a>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLink="/ejercicio003" routerLinkActive="active">Ejercicio 3</a>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLink="/ejercicio004" routerLinkActive="active">Ejercicio 4</a>
    </li>
  </ul>
</nav>

