<nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow-lg">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">
  Inicio
  </a>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
  <button class="btn btn-light mx-2"><a class="nav-link" href="#" routerLink="/actividad1">Actividad 1</a></button>
  <button class="btn btn-light me-2"><a class="nav-link" href="#" routerLink="/actividad2">Actividad 2</a></button>
  <button class="btn btn-light me-2"><a class="nav-link" href="#" routerLink="/problema2">Problema 2</a></button>
  </li>
  </ul>
  </div>
  </nav>
